/* Asterisk wildcard selector to overide default browser style settings*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Style*/
header {
    background-color: forestgreen;
}
/*Main content Style*/
main{
    background-color: white;

}
/*Footer Style*/
footer{
    background-color: orange;
}