/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to overide default browser style settings*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #654321;
}
/* Header Style*/
header {
    background-color: forestgreen;
}
/*Main content Style*/
main{
    background-color: white;
    flex: 1 0 auto;

}
/*Footer Style*/
footer{
    background-color: orange;
}