/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to overide default browser style settings*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #800020;
    font-family: "Libre Bodoni", serif;
}
/* Header Style*/
header{
    background-color: #FFFDD0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: "Libre Bodoni", serif;
    letter-spacing: 1px;
    text-align: center;
    color: #800020;
}

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    padding: 0 1rem;
}

#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: #800020 1px solid;
}

/* Navbar styles with dropdown toggle */
nav{
    position: absolute;
    background-color: inherit;
    width: 100;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav{
    display: block;
}

#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size: 1rem;
}
/*Main content Style*/
main{
    background-color: white;
    flex: 1 0 auto;
    margin-top: 22%;

}

/*Footer Style*/
footer {
    background-color: orange;
}